<?xml version="1.0"?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
</startup>
  <connectionStrings>
    <add name="NKD" connectionString="Server=nkddb;Database=NKD;Timeout=60;Persist Security Info=True;User ID=nkd_user1;Password=password;Integrated Security=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
