<nav id="leftNav">
    <img src="@Href("../Content/Images/contribGraphic.png")" style="padding-left:50px"/>
    <p style="text-align: center;">Submit your theme or <br />module for others to enjoy.</p>
</nav>