@*
 <h6>Follow</h6>
<ul>
	<li><a href="http://www.facebook.com/pages/Orchard-project/179597287820">Facebook</a></li>
	<li><a href="http://twitter.com/orchardcms">Twitter</a></li>
	<li><a href="#">YouTube</a></li>
	<li><a href="http://orchardproject.net/blogs/Rss">RSS</a></li>
</ul>
*@