 <h6>Learn More</h6>
<ul>
	<li><a href="http://orchardproject.net/about">About Us</a></li>
	<li><a href="mailto:orchardgallery@outercurve.org">Contact</a></li>
	<li><a href="http://orchardproject.net/termsofuse">Terms Of Use</a></li>
	<li><a href="http://orchardproject.net/privacystatement">Privacy Statement</a></li>
</ul>
