<h6>Orchard CMS</h6>
<ul>
	<li><a href="http://orchardproject.net/">Orchard Home</a></li>
	<li><a href="http://orchardproject.net/download">Download</a></li>
	<li><a href="http://orchardproject.net/docs">Documentation</a></li>
	<li><a href="http://orchardproject.net/localize">Translate</a></li>
	<li><a href="http://orchardproject.net/discussions">Discussions and Help</a></li>
</ul>
