<nav id="leftNav">
    <img src="@Href("../Content/Images/newAccountGraphic.png")" style="padding-left:50px"/>
    <p>With your account, you’ll be able to achieve all kinds of fame and glory by rating and reviewing modules and themes as well as submitting your own.</p>
        <p>Already have an account? @Html.ActionLink("Sign in.", "LogOn", "Account", new { area = "Orchard.Users" }, null)</p>
</nav>