<div id="socialLinks">
	<p><a href="http://orchardproject.net">Orchard Home</a> Join us on: <a href="http://www.facebook.com/pages/Orchard-project/179597287820" class="socialIconLink"><img src="@Href("../Content/Images/socialIcons/Facebook.png")"/></a> <a href="http://twitter.com/orchardcms" class="socialIconLink"><img src="@Href("../Content/Images/socialIcons/twitter.png")"/></a> <a href="#" class="socialIconLink"><img src="@Href("../Content/Images/socialIcons/youtube.png")"/></a> <a href="http://orchardproject.net/blogs/Rss" class="socialIconLink"><img src="@Href("../Content/Images/socialIcons/rss.png")"/></a></p>
</div>
